.history {
  margin: 1vh;
  width: 25vw;
  height: 10vh;
}
.history button {
  width: 30vw;
  background-color: #0f6b3d ;
  margin: 1vw;
  color: white;
  border-radius: 1vw;
  padding: 1vw;
  text-align: center;
}